.container{
    background-color: #E5E5E5;
    width: 375px;
    height: 1650px;
    margin: 50px auto;
}
.container_header{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    text-align: center;
    color: #34495E;
    padding: 37px 0;
}
.input_type{
    width: 275px;
    height: 80px;
    background:  url(images/unchecked.svg) no-repeat  #FFFFFF;
    background-position: right 5% bottom 45%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border-color: transparent; 
    margin: 15px 0 0 27px;
    align-items: center;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;
    padding: 0 23px;

}

.input_type:hover{
    border:1px solid #50A900;
    background: url(images/checked.svg) no-repeat;
    background-position: right 5% bottom 45%;
}
#desc{
    width: 280px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;
    margin: 15px 0 0 27px;
    align-items: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;
    padding: 10px 23px;
    resize: none;
}
#desc:hover{
    border:1px solid #50A900;
}

.input_type:focus::placeholder{
    transform: translateY(-30px);
    font-size: 12px;
    font-family: "Roboto";
    color: #81909F;
}

.button{
    margin:15px 29px 34px ;
    width: 320px;
    height: 80px;  
    background: #50A900;
    border-radius: 5px;
    border: none;
    color: white;
}
.middle {
    border: none;
    margin: 15px 17px 0 40px;
}
.middle_input{
    z-index: -1;
    opacity: 0;
}

.middle_input+label::before {
    content: '';
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    font-family: "Robot";
    background-color: #ffffff;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 1em;
    margin-bottom: -0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  
  .middle_input:checked+label::before {
    border-color: #50a900;
    background-color: #50a900;
    background-image: url("images/checkbox.svg");
  }
.input_password{   
    width: 275px;
    height: 80px;
    border-radius: 5px;
    border-color: transparent; 
    margin: 15px 0 0 27px;
    align-items: center;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 20px;
    align-items: center;
    color: #242021;
    padding: 0 23px;

}
.input_password:focus::placeholder{
    transform: translateY(-30px);
    font-size: 12px;
    font-family: "Roboto";
    color: #81909F;
}

