<template>
    <div>
      <div>
        {{surName}}
      </div>
      <div>
      {{firstName}}
      </div>
      <div>
      {{dateofBirth}}
      {{number}}
      </div>
      <div>
        <input v-model='firstName'>
      </div>
      <div>
        <input v-model='surName'>
      </div>
      <div>
        <input v-model='dateofBirth'>
      </div>
      <div>
        <button @click="nextStep">
        Click Me for ++
        </button>
      <button @click="backSteep">
        Click Me for --
        </button>
      </div>
    </div>
</template>
<script>

export default {
  name: 'FirstPage',
  data(){
    return{
        firstName:'Sergek',
        surName:'Dorzhu',
        dateofBirth: '17.02.2002',
        number:1   
    }
  },
  methods:{
    nextStep(){
      this.number++;
    },
    backSteep(){
      this.number--;
    }
  }
}
</script>