<template>
    <div>
        {{profile}}
    </div>
    
</template>
<script>
import {mapActions,mapGetters} from 'vuex'
export default {
    name:"profile",
    mounted(){
        console.log(this.$route);
        this.loadProfile(this.$route.params.id);
    },
    methods:{
        ...mapActions({loadProfile: 'Profile/loadProfile'})
    },
    computed:{
        ...mapGetters({profile:'Profile/profile'})
    }
}
</script>
