<template>
    <div class="container">
        <div class="container_main" v-for="(post,index) in postsData" :key=index> 
        <!-- <div>{{post.id}}</div>
        <div>{{post.userId}}</div>
        <div>{{post.title}}</div> -->
      </div>
      <!-- <button-companent :text= "text" @click-button="getText"/> -->
      <Info/>
    </div>
</template>
<script>

import axios from 'axios';
import Info from '@/components/Info.vue'

export default {
  name: 'Table',
  data(){
      return{
          posts:null
      };

  },
  created(){
      axios
      .get('https://jsonplaceholder.typicode.com/posts')
        .then(response => (this.posts = response.data));
  },
  methods:{
      getText(){
          console.log("РШфвф");
      }
  },
  components:{
    Info
  },
  
    computed:{
        postsData(){
            return this.posts;
        }
    }
}
</script>
<style scoped>

/* .container{
    display: flex;
    flex-direction: column;
}
.container_main{
    display: flex;
    flex-direction: row;
}
div {
    margin: 10px;
    border: 1px solid  black;
} */
</style>
