<template>
    <div>
        <input type="number" placeholder="Add UserId" v-model="userId"/>
        <input type="text" placeholder="Add title" v-model="title"/>
        <button @click="addPostInPosts()">Добавить</button>
    </div>
</template>

<script>
export default {
    name:"AddPost",
    data:()=>({
        userId:0,
        title:'',
    }),
    props:['posts'],
    methods:{
        addPostInPosts(){
            let post={
                id: this.posts.length + 1,
                title: this.title,
                userId: this.userId
            }
            // console.log(this.arr)
            this.posts.push(post)
        }
    }

}
</script>