<template>
    <button @click="checkText">
        {{text}}
    </button>
</template>
<script>
export default {
  name: 'ButtonCompanent',
  props: ['text'],
  methods:{
      checkText(){
          console.log("adsadas");
          this.$emit("click-button","Hi" )
      }
  },
}
</script>