<template>
    <div>
         <div class="container_main"> 
                <div>{{post.id}}</div>
                <div>{{post.userId}}</div>
                <div>{{post.title}}</div>
                <button class="btnDel" v-on:click="deleteEvent(index)">Удалить</button>
         </div>
    </div>
</template>
<script>
// import axios from 'axios';

export default {
    name:"Info",
    props:['index','post','posts'],
    data:()=>({
        
    }),  
    methods:{
        deleteEvent(event) {
        this.posts.splice(event, 1);
      },
    }
}
</script>
<style scoped>
.container_main{
    display: flex;
    flex-direction: row;
    align-items: left;
    position: relative;
}

div {
    margin: 10px;
    border: 1px solid  black;
    text-align: left;
    
}
.btnDel{
    position: absolute;
    float: right;
    margin-left: 95%;
    margin-top: 10px;
}
</style>
