<template>
    <div>
      <!-- <button @click="loadProfile()">asdasd</button> -->
     
      <button @click="sortirovka()">Sort By Id</button>
      <button @click="sortirovkatri()">Sort By UserId</button>
      <button @click="sortirovkadva()">Sort By title</button>
    
      <p>
          <input type="text" placeholder="Search" v-model="titleOne">
      </p>
       <add-post :posts="filteredList"></add-post>
         <div class="container_main" v-for="(post,index) in filteredList" :key="index"> 
              <component-row :post="post" :index="index" :posts="filteredList"></component-row>
         </div>
    </div>
</template>
<script>
// import axios from 'axios';


import { mapGetters, mapActions } from 'vuex';
import ComponentRow from './ComponentRow.vue';
import AddPost from './AddPost.vue'
export default {
  components: { ComponentRow,AddPost},
    name:"Info",
    data:()=>({
          sort:'name',
          posts:[],
          titleOne:'',
          sortByYear:false,
    }),
   mounted(){
      // axios
      // .get('https://jsonplaceholder.typicode.com/posts')
      //   .then(response => (this.posts = response.data));
      //   console.log(this.$route)
      this.loadProfile();
  },
  computed:{
     filteredList:function(){
          var title = this.titleOne;
            if(title==='') return this.getInfo;
            return this.getInfo.filter(function(elem){
           
             return elem.title.indexOf(title)>-1;
          })
      },
      ...mapGetters({getInfo: 'Profile/getInfo', Title: 'Profile/getTitle', UserId: 'Profile/getUserId'}),
    postsData(){
            return this.posts;
    },

    
  },
  methods:{
     ...mapActions({loadProfile: 'Profile/loadProfile'}),

      sortirovka(){
        return this.getInfo.sort(sortById);
      },
       
      sortirovkadva(){
        return this.getInfo.sort(sortByTitle);
      },
      sortirovkatri(){
        return this.getInfo.sort(sortByUserId);
      }
    },
}
var sortById = function (d1, d2) { return (d1.id < d2.id) ? 1 : -1; }
var sortByTitle = function (d1, d2) {return (d1.title.toLowerCase() > d2.title.toLowerCase()) ? 1 : -1;}
var sortByUserId = function (d1, d2) { return (d1.id < d2.id) ? 1 : -1; }


</script>
<style scoped>

</style>
