<template>
  <div id="app"> 
      <div>
        <button @click="click_first">
          FirstPage
        </button>
        <button @click="click_table">
          TablePage
        </button>
      </div>
      <router-view>

      </router-view>
    </div>

  
</template>

<script>

export default {
  name: 'App',
 
  // data(){
  //   return{
  //       firstName:'Sergek',
  //       surName:'Dorzhu',
  //       dateofBirth: '17.02.2002',
  //       number:1   
  //   }
  // },
  // methods:{
  //   nextStep(){
  //     this.number++;
  //   },
  //   backSteep(){
  //     this.number--;
  //   }
  // }
  methods:{
    click_first(){
      document.location.href="http://localhost:8080/first";
    },
    click_table(){
      document.location.href="http://localhost:8080/table";
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
